* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  background-color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style-type: none;
  padding: 1rem 0rem 1rem 7rem;
}

header nav ul li a {
  color: #0099e5;
  padding-top: 1.5rem;
}

header nav ul li a:hover {
  text-decoration: none;
}

header nav ul li .firstpart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  padding-top: .5rem;
}

header nav ul li .firstpart a {
  color: black;
}

header nav ul li .firstpart a:hover {
  text-decoration: none;
}

.landingpage {
  text-align: center;
  background-image: url(https://demo.w3layouts.com/demos_new/template_demo/17-05-2019/savage_demo_Free/2112248620/web/images/banner.jpg);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  background-size: cover;
  height: 85vh;
  padding: 15rem;
  color: white;
}

.landingpage h1 {
  font-size: 3.5rem;
  padding: 0 5rem 1rem 5rem;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  color: white;
}

.landingpage button {
  padding: .8rem 2.5rem .8rem 2.5rem;
  color: white;
  border: none;
  border-radius: 5%;
  background-color: #fe5d5d;
}

.landingpage button:hover {
  color: #0099e5;
}

.page1 {
  margin: 7rem 18rem 13rem 18rem;
  text-align: center;
  border: #777777 solid .01rem;
  padding: 6rem 2rem 6rem 2rem;
}

.page1 p {
  padding-top: .5rem;
  color: #777777;
}

.page2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2rem 5rem 2rem 5rem;
}

.page2 .part1 ul li {
  padding-top: 1.3rem;
  list-style-type: none;
}

.page2 .part1 ul li img {
  height: 12rem;
}

.page2 .part2 h2 {
  padding: 2rem 0 1.5rem 0;
  font-size: 2.5rem;
}

.page2 .part2 p {
  color: #777777;
  padding-bottom: 1rem;
}

.page2 .part2 button {
  padding: .8rem 2.5rem .8rem 2.5rem;
  color: white;
  border: none;
  border-radius: 5%;
  background-color: #fe5d5d;
}

.page2 .part2 button:hover {
  color: #0099e5;
}

.page2 .part2 h5 {
  padding: 1.2rem 0 0 0;
  font-size: 1rem;
}

.page2 .part2 h5 i {
  color: #0099e5;
  padding-right: .5rem;
}

.page3 {
  background-color: #323b43;
  height: 100vh;
  color: white;
}

.page3 h1 {
  text-align: center;
  padding: 7rem 0 3rem 0;
}

.page3 h2 {
  margin: 1rem 10rem 1rem 10rem;
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: white;
  color: black;
  font-size: 1rem;
}

.page3 h2 i {
  float: right;
}

.page4 ul {
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.page4 ul li {
  list-style-type: none;
}

.page4 ul li img {
  height: 14rem;
  border-radius: 2%;
}

.page4 ul li .bag {
  text-align: center;
}

.page4 ul li .bag h6 {
  padding-top: 1rem;
}

.page4 ul li .bag p {
  padding: .5rem 2rem 1rem 2rem;
}

.page5 {
  background-image: url(https://demo.w3layouts.com/demos_new/template_demo/17-05-2019/savage_demo_Free/2112248620/web/images/banner1.jpg);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  background-size: cover;
  height: 70vh;
  position: relative;
}

.page5 .part1 {
  position: absolute;
  top: 3rem;
  margin: 3rem;
  padding: 2rem;
  left: 37rem;
  color: white;
  text-align: center;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.page5 .part1 p {
  padding: .5rem 2.5rem .5rem 2.5rem;
}

.page5 .part1 button {
  padding: .8rem 2.5rem .8rem 2.5rem;
  background: transparent;
  color: white;
  border: solid white .1rem;
  border-radius: 2%;
}

.page6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 7rem 8rem 3rem 8rem;
}

.page6 .part1 h2 {
  padding-bottom: 2rem;
}

.page6 .part1 p {
  padding: 1rem 0 1rem 0;
  color: #777777;
  font-size: 1.2rem;
}

.page6 .part1 button {
  padding: .8rem 2.5rem .8rem 2.5rem;
  color: white;
  border: none;
  background-color: #fe5d5d;
}

.page6 .part1 button:hover {
  color: #0099e5;
}

.page6 .part2 img {
  height: 21rem;
  border-radius: 2%;
}

.page7 .part1 {
  text-align: center;
}

.page7 .part2 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.page7 .part2 ul li {
  list-style-type: none;
}

.page7 .part2 ul li h6 {
  padding-top: .5rem;
  color: #777777;
}

.page7 .part2 ul .biga {
  padding: 1.5rem 0rem 1.5rem 8rem;
}

.page7 .part2 ul .biga img {
  height: 37rem;
  width: 30rem;
  border: #f3f3f4 solid 0.5rem;
}

.page7 .part2 ul .bigb {
  padding: 4.5rem 5rem 1.5rem 0rem;
}

.page7 .part2 ul .bigb img {
  height: 28rem;
  border: #f3f3f4 solid 0.5rem;
}

.page7 .part2 ul .bigc {
  padding: 1.5rem 0rem 1.5rem 7rem;
}

.page7 .part2 ul .bigc img {
  height: 30rem;
  border: #f3f3f4 solid 0.5rem;
}

.page7 .part2 ul .bigd img {
  height: 35rem;
  border: #f3f3f4 solid 0.5rem;
}

.page8 {
  background-image: url(https://demo.w3layouts.com/demos_new/template_demo/17-05-2019/savage_demo_Free/2112248620/web/images/banner2.jpg);
  background-size: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  background-size: cover;
  height: 70vh;
  color: white;
}

.page8 .part1 {
  padding: 7rem 15rem 7rem 15rem;
  text-align: center;
  max-width: 80rem;
}

.page8 .part1 h1 {
  padding-right: 15rem;
}

.page8 .part1 p {
  padding: .5rem 19rem .5rem 0rem;
}

.page8 .part1 button {
  margin: .5rem 20rem 0rem 0rem;
  color: #f7f4f4;
  background: transparent;
  border: solid white;
  padding: .8rem 2.5rem .8rem 2.5rem;
}

.page9 {
  padding: 5rem 14rem 5rem 14rem;
}

.page9 h1 {
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.page9 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.page9 ul li {
  list-style-type: none;
}

.page9 ul li img {
  border-radius: 50%;
  margin-left: 7rem;
}

.page9 ul li i {
  color: #0099e5;
  font-size: 4rem;
}

.page9 ul li p {
  padding: 1rem 0 1rem 0;
}

.page9 ul li h5 {
  font-size: 1rem;
  color: #fe5d5d;
}

footer {
  background-color: #1d2124;
  padding: 5rem;
}

footer .part1 h1 {
  text-align: center;
}

footer .part1 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

footer .part1 ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 7rem 1rem 7rem;
}

footer .part1 ul li h4 {
  font-size: 1.3rem;
  padding-left: 1.5rem;
}

footer .part1 button {
  padding: .8rem 2.5rem .8rem 2.5rem;
  margin-left: 30rem;
  color: white;
  background-color: #0099e5;
  border-radius: 2%;
  border: none;
}

footer .part1 .icons {
  text-align: center;
}

footer .part1 .icons i {
  padding: 3rem;
}

.page10 {
  color: white;
}

.page10 .part2 {
  padding: .5rem;
  text-align: center;
  background-color: #0099e5;
}

.page10 .part2 h4 {
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */